mat-toolbar {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: 'Spicy Rice', cursive;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner-text {
  cursor: pointer;
  user-select: none;
}
